html{
    font-size: 16px;
}
body{
    background-color: #2EC4B6;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: 'ZCOOL QingKe HuangYou';
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: #E71D36;
    font-size: 4rem;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E71D36;
    font-size: 2rem;
    padding: .8rem;
}

footer p{
    margin: 0;
    color: #FF9F1C;
    text-align: center;
}

footer a{
    color: #FF9F1C;
    text-decoration: none;
}

footer a:hover{
    color: #011627;
    text-decoration: underline;
}

#calculatorBody{
    background-color: #E71D36;
    height: min(25rem, 80vw);
    width: min(25rem, 80vw);
    margin-bottom: 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

#display{
    background-color: #FDFFFC;
    min-height: 4rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 .8rem;
    text-overflow: clip;

}

#display p{
    margin: 0;
    font-size: 3rem;
    color: #011627;
    white-space: nowrap;
    overflow: hidden;
    direction: ltr;
}

#buttonsContainer{
    flex: 1;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0.8rem;
}



button{
    background-color: #FF9F1C;
    border-radius: .5rem;
    font-size: 2.5rem;
    font-family: 'ZCOOL QingKe HuangYou';
    color: #011627;
    padding: 0;
    outline: none;
    border: none;
    box-shadow: .2rem .2rem #f77f00;
}

button:active{
    background-color: #fbb554;
    box-shadow: .2rem .2rem #fa6208;
    transform: translateY(0.1rem);
}



